Software/VitayEcal-Node-Red.json
[
    {
        "id": "9ac46890e8dbfce8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0490b6bcd4673ec",
        "type": "mqtt in",
        "z": "9ac46890e8dbfce8",
        "name": "",
        "topic": "LoRa_D4/Cultivos",
        "qos": "1",
        "datatype": "auto",
        "broker": "e264fe7310ca35eb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "c45912d6a670f9ea"
            ]
        ]
    },
    {
        "id": "b6dcbb0fa6f15a67",
        "type": "debug",
        "z": "9ac46890e8dbfce8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "c45912d6a670f9ea",
        "type": "json",
        "z": "9ac46890e8dbfce8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "b6dcbb0fa6f15a67",
                "e8f0b4b1498be34c"
            ]
        ]
    },
    {
        "id": "e8f0b4b1498be34c",
        "type": "function",
        "z": "9ac46890e8dbfce8",
        "name": "function 22",
        "func": "let msg1 = { payload: msg.payload.Humedad};\nlet msg2 = { payload: msg.payload.Bomba};\nlet msg3 = { payload: msg.payload.CO2};\nlet msg4 = { payload: msg.payload.Int_Luz};\nlet msg5 = { payload: msg.payload.Temperatura};\nlet msg6 = { payload: msg.payload.Volts};\nreturn [msg1, msg2, msg3, msg4 ,msg5,msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "9fcf09f215abf1fc",
                "72602591996a51b9"
            ],
            [
                "5dcb1da2c9da0931",
                "b5013396e32c365d"
            ],
            [
                "9e6516983e2eb165",
                "c53f2c92b98c583c"
            ],
            [
                "507be5bfe4aea5be",
                "596c6fea2651424a"
            ],
            [
                "513624cd2d85a215",
                "5cbd5f5b913435d9"
            ],
            [
                "79eb1ab181ba2976",
                "715da8e14f5c355d"
            ]
        ]
    },
    {
        "id": "9fcf09f215abf1fc",
        "type": "ui_gauge",
        "z": "9ac46890e8dbfce8",
        "name": "",
        "group": "4a9d755d0aa4ae8b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 20,
        "wires": []
    },
    {
        "id": "9e6516983e2eb165",
        "type": "ui_chart",
        "z": "9ac46890e8dbfce8",
        "name": "",
        "group": "f812ae51c8fd8b4f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "C02",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "400",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5dcb1da2c9da0931",
        "type": "ui_text",
        "z": "9ac46890e8dbfce8",
        "group": "6a532f8e63aa96de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bomba",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "513624cd2d85a215",
        "type": "ui_gauge",
        "z": "9ac46890e8dbfce8",
        "name": "",
        "group": "53c5210fd7ec942e",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "507be5bfe4aea5be",
        "type": "ui_chart",
        "z": "9ac46890e8dbfce8",
        "name": "",
        "group": "13f36bbd525c804e",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Luz",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7700",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff0400",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "72602591996a51b9",
        "type": "influxdb out",
        "z": "9ac46890e8dbfce8",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "Humedad",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "Cultivos",
        "x": 950,
        "y": 60,
        "wires": []
    },
    {
        "id": "c53f2c92b98c583c",
        "type": "influxdb out",
        "z": "9ac46890e8dbfce8",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "C02",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "Cultivos",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "596c6fea2651424a",
        "type": "influxdb out",
        "z": "9ac46890e8dbfce8",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "IntencidadLuz",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "Cultivos",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "5cbd5f5b913435d9",
        "type": "influxdb out",
        "z": "9ac46890e8dbfce8",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "Temperatura",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "Cultivos",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "b5013396e32c365d",
        "type": "influxdb out",
        "z": "9ac46890e8dbfce8",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "Bomba",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "Cultivos",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "79eb1ab181ba2976",
        "type": "ui_text",
        "z": "9ac46890e8dbfce8",
        "group": "6a532f8e63aa96de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bateria",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "715da8e14f5c355d",
        "type": "influxdb out",
        "z": "9ac46890e8dbfce8",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "Bateria",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "Cultivos",
        "x": 990,
        "y": 540,
        "wires": []
    },
    {
        "id": "5a4fee77f88e898d",
        "type": "ui_spacer",
        "z": "9ac46890e8dbfce8",
        "name": "spacer",
        "group": "4a9d755d0aa4ae8b",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "02510b240c80aad8",
        "type": "ui_spacer",
        "z": "9ac46890e8dbfce8",
        "name": "spacer",
        "group": "4a9d755d0aa4ae8b",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "3a696772bc344502",
        "type": "ui_spacer",
        "z": "9ac46890e8dbfce8",
        "name": "spacer",
        "group": "f812ae51c8fd8b4f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e264fe7310ca35eb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.9.213",
        "port": "1883",
        "clientid": "prueba1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a9d755d0aa4ae8b",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "90ae82fbd44f5133",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f812ae51c8fd8b4f",
        "type": "ui_group",
        "name": "Dioxido de Carbono",
        "tab": "90ae82fbd44f5133",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a532f8e63aa96de",
        "type": "ui_group",
        "name": "Porcentaje bateria",
        "tab": "90ae82fbd44f5133",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "53c5210fd7ec942e",
        "type": "ui_group",
        "name": "Porcentaje de bateria",
        "tab": "90ae82fbd44f5133",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13f36bbd525c804e",
        "type": "ui_group",
        "name": "Intencidad de la Luz",
        "tab": "90ae82fbd44f5133",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff6a51745a823c5b",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "cultivos",
        "name": "CultivosH",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "90ae82fbd44f5133",
        "type": "ui_tab",
        "name": "Cultivo Hidroponico ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]